.auth-container {
  display: flex;
  height: 100vh; /* Ocupa toda la pantalla */
}

.auth-image-side {
  flex: 1;
  background-image: url('../assets/background-bus.jpg'); /* Asegúrate de tener la foto aquí */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.auth-form-side {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f7f6;
}